<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pvt.example.sophon.dao.ManagerDao">
  <resultMap id="BaseResultMap" type="manager">
    <id property="pkId" column="pk_id" />
    <result property="fdAccount" column="fd_account" />
    <result property="fdNickname" column="fd_nickname" />
    <result property="fdRole" column="fd_role" />
  </resultMap>
  <sql id="selectSql">
    SELECT pk_id, fd_account, fd_nickname, fd_role FROM tab_manager
  </sql>
  <insert id="insertManager">
    INSERT
    INTO tab_manager(`fd_account`, `fd_nickname`, `fd_role`)
    VALUES (#{fdAccount}, #{fdNickname}, #{fdRole})
  </insert>

  <select id="selectAllManager" resultMap="BaseResultMap">
    <include refid="selectSql" />
  </select>

</mapper>